{% extends 'admin/base_admin.html' %}
{% block heading_block %}
  Comments
  <small>page</small>
{% endblock%}
{% block body  %}
    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                          <thead>
                            <tr>
                              <th scope="col">Id</th>
                              <th scope="col">Author</th>
                              <th scope="col">Comment</th>
                              <th scope="col">Email</th>
                              <th scope="col">Date</th>
                              <th scope="col">Status</th>
                              <th scope="col">In Response to</th>
                              <th scope="col">Approve</th>
                              <th scope="col">Disapprove</th>
                              <th scope="col">Delete</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for com in comments %}
                            <tr>
                              <td>{{com.com_id}}</td>
                              <td>{{com.com_author.username}}</td>
                              <td>{{com.com_content}}</td>
                              <td>{{com.com_author.email}}</td>
                              <td>{{com.com_date}}</td>
                              <td>{{com.com_status}}</td>
                              <td><a href="{% url 'cms_app:user_post' com.com_post_id.post_id %}">{{com.com_post_id.post_title}}</a></td>
                              <td><a href="{% url 'cms_app:comment_approval' id=com.com_id status='approved' %}">Approve</a></td>
                              <td><a href="{% url 'cms_app:comment_approval' id=com.com_id status='disapproved' %}">Disapprove</a></td>
                              <td><a href="{% url 'cms_app:comment_delete' id=com.com_id  %}">Delete</a></td>
                            </tr>
                            {% endfor %}
                          <tbody>
                        </table>

                      </div>
{% endblock %}
