{% extends 'admin/base_admin.html' %}
{% block heading_block %}
  Category
  <small>page</small>
{% endblock%}
{% block body  %}

 <div class="col-xs-6">

    <form class="" action="{% url 'cms_app:category' %}" method="post">{% csrf_token %}
      {% for field in form %}
      <div class="form-group">
        <label for="cat_title"> Add Category </label>
        {{field}}
      </div>
      {% endfor %}
      <input class ="btn btn-primary" type="submit" name="submit" value="Add Category">
    </form>

    {% if updating_cat %}
    <br>
    <br>
    <form class="" action="" method="post">{% csrf_token %}
      {% for field in form %}
      <div class="form-group">
        <label for="cat_title"> Update <q style="font-style:italic">{{updating_cat.cat_title}}</q> Category</label>
        {{field}}
      </div>
      {% endfor %}
      <input class ="btn btn-warning" type="submit" name="submit" value="Update Category">
    </form>
    {% endif %}
  </div>

     <div class="col-xs-6">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Id</th>
            <th>Category Title</th>
            <th>DELETE</th>
            <th>EDIT</th>
          </tr>
        </thead>
        <tbody>
      {% for cat in categories %}
        <tr>
          <td>{{cat.cat_id}}</td>
          <td>{{cat.cat_title}}</td>
          <td><a href='{% url 'cms_app:cat_delete' id=cat.cat_id %}'>Delete</a></td>
          <td><a href='{% url 'cms_app:cat_edit' id=cat.cat_id %}'>Edit</a></td>
        </tr>
      {% endfor %}

</tbody>
</table>
</div>
{% endblock %}
