{% extends 'admin/base_admin.html' %}
{% block heading_block %}
  Posts
  <small>page</small>
{% endblock%}
{% block body  %}
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <div class="col-xs-4 col-xs-offset-11">
      <a class="btn btn-primary" href="{% url 'cms_app:post_add' %}">Add New</a>
    </div>
    <br>
    <br>

    <thead>
      <tr>

        <th scope="col">Id</th>
        <th scope="col">Author</th>
        <th scope="col">Title</th>
        <th scope="col">Category</th>
        <th scope="col">Content</th>
        <th scope="col">Image</th>
        <th scope="col">Tags</th>
        <th scope="col">Status</th>
        <th scope="col">Date</th>
        <th scope="col">Comment count</th>
        <th scope="col">DELETE</th>
        <th scope="col">EDIT</th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
      <tr>

        <td>{{post.post_id}}</td>
        <td>{{post.post_author.username}}</td>
        <td>{{post.post_title}}</td>
        <td>{{post.post_cat_id.cat_title}}</td>
        <td>{{post.post_content|slice:'0:100'}}</td>
        {% if post.post_image %}
        <td>
          <img src="{{post.post_image.url|default:'nothing'}}" class="img-responsive" >
        </td>
        {% else %}
        <td>no image</td>
        {% endif %}
        <td>{{post.post_tags}}</td>
        <td>{{post.post_status}}</td>
        <td>{{post.post_date}}</td>
        <td>{{post.post_comment_count}}</td>
        <td><a href="{% url 'cms_app:post_delete' id=post.post_id %}">delete</a></td>
        <td><a href="{% url 'cms_app:post_edit' id=post.post_id %}">update</a></td>

      </tr>
      {% endfor %}
    <tbody>
  </table>

</div>

{% endblock %}