
<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="{% url 'cms_app:admin_index' %}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>

        <li>
            <a href="{% url 'cms_app:category' %}"><i class="fa fa-fw fa-wrench"></i> Categories</a>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i>
              Posts <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="demo" class="collapse">
                <li>
                    <a href="{% url 'cms_app:post' %}">See Posts</a>
                </li>
                <li>
                    <a href="{% url 'cms_app:post_add' %}">Add Posts</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{% url 'cms_app:comment' %}"><i class="fa fa-fw fa-file"></i> Comments</a>
        </li>

        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#demo1"><i class="fa fa-fw fa-arrows-v"></i>
              Users <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="demo1" class="collapse">
                <li>
                    <a href="{% url 'cms_app:SeeUsers' %}">See Users</a>
                </li>
                <li>
                    <a href="{% url 'cms_app:user_add' %}">Add Users</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{% url 'cms_app:user_profile' %}"><i class="fa fa-fw fa-dashboard"></i> Profile</a>
        </li>
    </ul>
</div>
<!-- /.navbar-collapse -->
</nav>
