{% extends 'admin/base_admin.html' %}
{% block crispy_block %}{% load crispy_forms_tags %}{% endblock %}
{% block heading_block %}
  {{request.user.username}}'s
  <small>profile</small>
{% endblock%}
{% block body  %}
<div class="col-xs-4 col-xs-offset-5">
  <img src="{{ user.userprofile.user_image.url}}" class="img-circle" alt="{{user.username}}" width="150" height="150">
</div>

<div class="col-xs-8 col-xs-offset-2">
  <form  method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    {{ form_profile|crispy }}

      <button type="submit" class="btn btn-warning" name="submit" value="SR">Save and Return</button>

  </form>
</div>
{% endblock %}
