{% extends 'admin/base_admin.html' %}
{% block crispy_block %}{% load crispy_forms_tags %}{% endblock %}
{% block heading_block %}
  User add
  <small>page</small>
{% endblock%}
{% block body  %}
 <form  method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form|crispy }}
  {{ form_profile|crispy }}
  <button type="submit" class="btn btn-primary" name="submit" value="SA">Save and add another</button>
  <button type="submit" class="btn btn-success" name="submit" value="SR">Save and Return</button>
</form>
{% endblock %}
