<div class="col-md-4">

    <!-- Blog Search Well -->
    <div class="well">
        <h4>Blog Search</h4>
        <form method="POST" action="{% url 'cms_app:index' %}">{% csrf_token %}
        <div class="input-group">

            <input name="search" type="text" class="form-control" value="{{request.GET.search}}">
            <span class="input-group-btn">
                <button name="submit" class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
            </button>
            </span>

        </div>
        </form><!--search form-->
        <!-- /.input-group -->
      </div>

    <div class="well">
      <h4>Login</h4>

         <form action="{% url 'cms_app:user_login' %}" method="post">{% csrf_token %}
         <div class="form-group">
             <input name="username" type="text" class="form-control" placeholder="Enter Username">
         </div>
         <div class="input-group">
             <input name="password" type="password" class="form-control" placeholder="Enter Password">

             <span class="input-group-btn">
                <button class="btn btn-primary" name="login" type="submit">Submit</button>
             </span>
         </div>
         </form><!--search form-->
         <!-- /.input-group -->
         <p><br>Not registered yet? <a href="{% url 'cms_app:register' %}">Click here</a> to register</p>
    </div>

    <!-- Blog Categories Well -->
    <div class="well">
        <h4>Blog Categories</h4>
        <div class="row">
          <div class="col-lg-6">
              <ul class="list-unstyled">
                {% if cat_first_half %}
                  {% for cat in cat_first_half %}
                  <li>
                    <a href="{% url 'sort' cat_id=cat.cat_id %}">{{cat.cat_title}}</a>
                  </li>
                  {% endfor %}
                {% endif %}
          </div>

            <!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <ul class="list-unstyled">
                  {% if cat_second_half %}
                    {% for cat in cat_second_half %}
                    <li>
                      <a href="{% url 'sort' cat_id=cat.cat_id %}">{{cat.cat_title}}</a>
                    </li>
                    {% endfor %}
                  {% endif %}
            </div>

            <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
    </div>

    <!-- Side Widget Well -->
    <div class="well">
        <h4>Side Widget Well</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
    </div>

</div>
